.marco{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1100px;
  margin: auto;
}

.logochevro{
  background-image: url('../../gallery/trayectorias/logochevro.png');
  width: 252px;
  height: 164px;
  position: inherit;
  right: 0;
  z-index: 1;
  float: right;
}

.imagen1{
  width: 100%;
  height: 600px;
  z-index: 1;
}

.emergente{
  background-image: url('../../gallery/trayectorias/fondo1a.jpg');
  width: 100%;
  height: 110px;
  z-index: 1;
}

.distinciones{
  background-image: url('../../gallery/trayectorias/distinciones.jpg');
  width: 100%;
  height: 89px;
  margin-top: -222px;
  z-index: 1;
  background-size: 100%;
}

.fondo1{
  background-image: url('../../gallery/trayectorias/fondo1.jpg');
  width: 100%;
  height: auto;
  z-index: 1;

}

.fondo2{
  background-image: url('../../gallery/trayectorias/fondo2.jpg');
  width: 100%;
  height: 443px;
  z-index: 1;
  display: flex;
}

.logoacade{
  background-image: url('../../gallery/trayectorias/logoacade.png');
  width: 227px;
  height: 209px;
  margin: 0 0 0 0;
  z-index: 1;
  position: relative;
  top: 235px;
}

.columna-1{
  z-index: 2;
  width:30%;
  height: 443px;
}

.columna-2{
  z-index: 2;
  width:70%;
  height: 443px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.columna-2 div{
  text-transform: uppercase;
  max-width: 500px;
  position: inherit;
  margin-top: 170px;
  margin-left: 100px;
}
