 /* The switch - the box around the slider */
            .switch {
              position: relative;
              display: inline-block;
              width: 30px;
              height: 17px;
            }

            /* Hide default HTML checkbox */
            .switch input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            /* The slider */
            .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
            }

            .slider:before {
              position: absolute;
              content: "";
              height: 13px;
              width: 13px;
              left: 2px;
              bottom: 2px;
              background-color: white;
              -webkit-transition: .4s;
              transition: .4s;
            }

            input:checked + .slider {
              background-color: #0058a3;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #d65050;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(13px);
              -ms-transform: translateX(13px);
              transform: translateX(13px);
            }

            /* Rounded sliders */
            .slider.round {
              border-radius: 34px;
            }

            .slider.round:before {
              border-radius: 50%;
            }

            .margen-check{
                margin-left: 3px;
            }

            #volver:hover{
              cursor: pointer;
              color: black !important;
            }

            .titulo_modulo{
              font-size: 14px;
              font-weight: bold;
            }
