#tabla img{
  width: 215px;
  height: 100px;
}
#tabla video{
  width: 215px;
  height: 100px;
  display: none;
  background-color: black;
}

#tabla td{
  width: 215px;
  height: 100px;
}

#tabla td div.cont-videos{
  margin-left: 8%;
}

.eliminar :hover{
	cursor: pointer;
	color: red;
}

#myModal{
  	position: fixed;
    top:0; left:0;
    right:15%; bottom:0;
    z-index: 20000;
}

/*Efecto titulo sobre la imagen*/
.contimagen{
  width: 215px;
  height: 100px;
}

.imagen:hover{
  cursor: pointer;
}
.contimagen, .imagen{
  position: relative;
}

.contimagen p.active {
  background-color: rgba(0,0,0,.5);
  color: white;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  padding: 5%;
  width: 100%;
}

.contimagen p {
  background-color: rgba(0,0,0,.5);
  color: white;
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  padding: 5%;
  width: 100%;
}
/*Scroll para los videos*/
.cont-videos{
  overflow: scroll;
  height: 380px
}



