#listaMenu li{
  background: #1552c1 !important;
}

#listaMenu li span{
  color: white;
}

#listaMenu .active{
  background: #d65050 !important;
}

.sombra{
  -webkit-box-shadow: 9px 8px 9px -2px rgba(0,0,0,0.33);
  -moz-box-shadow: 9px 8px 9px -2px rgba(0,0,0,0.33);
  box-shadow: 9px 8px 9px -2px rgba(0,0,0,0.33);
}

#caracte h1,h2{
  font-size: 16px;
}

.boton-azul{
  background: #1552c1 !important;
  color: #fff !important;
}
