#contenido>ul>li{
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  width: 200px;border: 1px solid lightgray;
  margin: 5px;
}

#contenido>ul>li img{
  width: 190px;
  height: 150px;
}

#contenido>ul>li:hover{
  transform: scale(1.1);
  -webkit-transition:all 0.5s ease; /* Safari y Chrome */
  border-radius: 5px;
}


.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-encima{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgb(0,0,0, 0.6);
  color: white;
}

.like>i:hover{
  color: #0058a3;
  font-size: 16px;
  -webkit-transition:all 0.5s ease; /* Safari y Chrome */
}

.like{
  cursor: pointer;
  margin-right: 10%;
}

.views{
  cursor: pointer;
}
.views>i:hover{
  color: #0058a3;
  font-size: 16px;
  -webkit-transition:all 0.5s ease; /* Safari y Chrome */
}