/* #f6ae00, #ff5d12, #ff003b, #fc0f46, #ca002a, #cc003e, #ac002c, #414042, #d65050 */

@font-face {
font-family: 'DurantRegular';
src: url('fonts/DurantRegular.ttf') format('truetype');
}
@font-face {
font-family: 'DurantItalic';
src: url('fonts/DurantItalic.ttf') format('truetype');
}
@font-face {
font-family: 'DurantBoldItalic';
src: url('fonts/DurantBoldItalic.ttf') format('truetype');
}
@font-face {
font-family: 'LouisRegular';
src: url('fonts/LouisRegular.ttf') format('truetype');
src: url('fonts/LouisRegular.otf') format('opentype');
}
@font-face {
font-family: 'big_noodle_titling';
src: url('fonts/big_noodle_titling.ttf') format('truetype');
}
@font-face {
font-family: 'LouisItalic';
src: url('fonts/LouisItalic.ttf') format('truetype');
}

BODY{
   	font-family: 'LouisItalic' !important;
}
.center{
  text-align:center;
}
.min_font{
  font-size: 60%;
}
.titulo_{
  color: #000 !important;
  font-size: 17px !important;
  margin-top: 25px; 
}
.medium_font{
  font-size: 80%;
}
.color_gray{
  color: #8F8F8F;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #8F8F8F !important;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.custom-control-label:before{
  background-color:red;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.table th{
    font-size: 15px;
    background: #7c7c7c;
    color: white;
    width: 50%;
}
.table td{
    border-right: 1px solid #dee2e6 !important;
}

.table tr{
    font-size: 15px;
}

.text-right {
    font-size: 15px;
}

.titulo_rosado{
    background-color: #808285;
    color: white;
    padding: 5px 0;
    margin-bottom: 1px;
}
.titulo_gris{
    background-color: #bbb;
    color: white;
    padding: 5px 0;
    margin-bottom: 1px;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	/* border-bottom: 1px solid #333; */
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	/* border-top: 1px solid #333; */
	/* border-left: 1px solid #333; */
	border-bottom: 1px solid #cc003e;
	/* background-color: #808285; */
	/* color: #fff; */
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
	background-color: #ccc;
	color: #fff;
}

ul.tabs li.active {
	background-color: #fc0f46;
	color: #fff;
	border-bottom: 1px solid #fc0f46;
	display: block;
}

.tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}

.table-editada>tbody>tr:first-child{
    width: 35% !important;
}

.titulos{
    background-color: #fc0f46;
    color: #fff;
    font-size: 17px;
    padding: 15px;
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 3;
    font-style: italic;
}

.estilo-titulos{
    position: absolute;
    width: 100%;
    border-right: 30px solid transparent;
    border-top: 50px solid #fc0f46;
}

.content-titulos{
    margin-bottom: 25px;
    display: inline-block;
}

.titulo_modal{
    background-color: #fc0f46;
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 5px;
}
.titulo_1{
    background-color: #f6ae00;
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 5px;
}
.titulo_2{
    background-color: #ff003b;
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 5px;
}
.titulo_3{
    background-color: #ff5d12;
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 5px;
}
.titulo_4{
    background-color: #cc003e;
    color: #fff;
    display: block;
    font-size: 17px;
    padding: 5px;
}

.fondo-gris{
    background-color: #E0DAD5;
}

.btn-primary-gm{
    background-color: #fc0f46;
    color: #fff;
}

.estilo-hr{
   /* width:80% !important; */
   background-color: #666 !important;
   height: 1px !important;
 }

.fondo-gris1{
    background-color: #f6ae00;
}

.fondo-color2{
    background-color: #ff003b;
    color: #fff;
}
.fondo-color3{
    background-color: #ff5d12;
    color: #414042;
}
.fondo-color4{
    background-color: #cc003e;
    color: #fff;
}

.estilo-icono{
    display: inline-block !important;
    background-color: #fc0f46;
    color: #fff !important;
    padding: 4px;
    border-radius: 5px;
    width: 30px !important;
}

small {
    color: black;
}
