 @font-face {
 font-family: 'DurantRegular';
 src: url('../../assets/fonts/DurantRegular.ttf') format('truetype');
}
 @font-face {
 font-family: 'DurantItalic';
 src: url('../../assets/fonts/DurantItalic.ttf') format('truetype');
}
 @font-face {
 font-family: 'DurantBoldItalic';
 src: url('../../assets/fonts/DurantBoldItalic.ttf') format('truetype');
}
 @font-face {
 font-family: 'LouisRegular';
 src: url('../../assets/fonts/LouisRegular.ttf') format('truetype');
 src: url('../../assets/fonts/LouisRegular.otf') format('opentype');
}

.botones-club{
    width: 120px;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

.botones-club button{
    width:100%;
}

.mes-cumplido{
    /*background-color: #5bc0de;*/
    background-color: #6fc6e4;
    color: #ffffff;
}

.tabla-botones{
    width: 80%;
    margin: auto;
}

.badge-primary-per{
   position:relative;
   top: -13px;
   left: -35px;
}
.btn-colorgm{
	background:#484848 !important;
	border-color:#484848 !important;
	color:#fff;
}

.btn-colorgm:hover, .btn-colorgm:focus{
	background:#d65050 !important;
	border-color:#0058a3 !important;
	color:#fff;
}

.btn-colorgm.active{
	background:#d65050 !important;
	border-color:#0058a3 !important;
	color:#fff;
}

.btn-colorgray{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#fff;
}

.btn-colorgray:hover, .btn-colorgray:focus{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#0058a3;
	text-decoration: underline;
	text-decoration-color: #0058a3;
	box-shadow: 0px 0px 0px!important;
}

.btn-colorgray.active{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#0058a3;
	text-decoration: underline;
	text-decoration-color: #0058a3;
	box-shadow: 0px 0px 0px!important;
}

.btn-colorgraybig{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#fff;
	font-size: 20px;
}

.btn-colorgraybig:hover, .btn-colorgraybig:focus{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#0058a3;
	font-size: 20px;
}

.btn-colorgraybigW{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#0058a3;
	font-size: 20px;
}

.btn-colorgraybigW:hover, .btn-colorgraybigW:focus{
	background:#808285 !important;
	border-color:#808285 !important;
	color:#0058a3;
	font-size: 20px;
}

.btn-vermas{
	color:#fff;
	text-decoration: underline;
}
.btn-vermas:hover, .btn-vermas:focus{
	color:#0058a3;
	text-decoration: underline;
}
.btn-white i:before{
	color:#fff;
}

.fondoGMMasOscuro{
	background:#404040;
}

.fondoGMOscuro{
	background:#484848;
}


