div.scrollmenu {
    background-color: #484848;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #0058a3;
}

div.scrollmenu a.active{
  background: #d65050 !important;
}