.gallery ul li .thumb {
    border: none;
}

.gallery {
    display:none;
}

.gallery.active {
    display:block;
}

/*Clase para anchar la modal*/
.modal-dialog {
    width: 80%;
    margin: 30px auto;
}

.img-opacity:hover {
        opacity: 1;
}

.img-opacity {
        opacity: 0.3;
}

.img-opacity.active{
        opacity: 1;
}

/*Botones para la modal*/
.boton-modal {
    background-color: #393939;
    border-right: 10px solid white;
    text-align: center;
}

.boton-modal:hover {
    background: #d65050;
}

.boton-modal.active {
    background-color: #0058a3;
}

/*Botones de Pestañas*/
.boton-pestana {
    background-color: #e7e7e7;
    border-right: 15px solid white;
    text-align: center;
    height: 38px;
    display: table;
}.boton-pestana h5 {
    color: black;
}

.boton-pestana:hover {
    background: #7c7c7c;
    cursor:pointer; cursor: hand;
}.boton-pestana h5:hover {
    color: white;
}

.boton-pestana.active {
    background-color: #7c7c7c;
}.boton-pestana.active h5 {
     color: white;
}

/*Botones para la modal*/
.boton-modal1 {
    background-color: #393939;
    border-right: 2px solid white;
    text-align: center;
    height: 30px;
    display: table;
}

.centrar{
    display: table-cell;
    vertical-align: middle;
}
.boton-modal1:hover {
    background: #d65050;
     cursor:pointer; cursor: hand;
}

.boton-modal1.active {
    background-color: #0058a3;
}

.boton-modal{
    cursor:pointer; cursor: hand;
}

h4{
	color: white;
}

h5{
	color: white;
}

.contenido-caracteristicas{
    display:none;
}

.sobre{
    border: solid 2px white;
}

.sobre:hover{
    border: solid 2px gold;
}



